*{
    margin: 0;
    padding: 0;
}
/*---------début histoire----*/
body {
    font-family: 'Albert Sans', sans-serif;
}
.bgColor{ 
    background: rgba(0, 0, 0, 0.27) !important;
}
.parallaxH{
    height: 415vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
  
.parallaxH1{
background-image: url("https://i.pinimg.com/originals/da/ca/95/daca9501d4b7139e2ecc980dd9f79a4c.jpg");
}
#pack1{
    display: flex;
    align-items: center;
    padding-top: 60px;
    text-align: center;
    padding-bottom: 60px;
}
#introduction{
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.774);
    width: 40%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    box-shadow: 5px 5px 7px 0px rgba(0,0,0,0.63);
}
.titre-intro{
    text-align: center;
    font-size: 45px;
    padding-bottom: 20px;
    font-family: 'Source Serif Pro', serif;
}

.pack2{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background-color: rgba(0, 255, 255, 0);
    padding-bottom: 60px;
}
.corps{
    display: flex;
    background-color: rgba(255, 255, 255, 0.774);
    width: 34%;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    box-shadow: 5px 5px 7px 0px rgba(0,0,0,0.63);
}
#gyptis{
    display: flex;
    width: 100%;
    box-shadow: 5px 5px 7px 0px rgba(0,0,0,0.63);
}
.article{
    display: flex;
    font-size: 20px;
    padding-top: 10px;
    text-align: justify;
}
.titre-article{
    display: flex;
    font-size: 30px;
    padding-bottom: 20px;
    font-family: 'Source Serif Pro', serif;
}
#cesar{
    display: flex;
    width: 100%;
    box-shadow: 5px 5px 7px 0px rgba(0,0,0,0.63);
}


#pack3{
    display: flex;
    background-color: rgba(255, 255, 255, 0.774);
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    box-shadow: 5px 5px 7px 0px rgba(0,0,0,0.63);
}
#corpsMA{
    display: flex;
    width: 45%;
    flex-direction: column;
}
#image-articleMA{
    display: flex;
    width: 20%;
    box-shadow: 5px 5px 7px 0px rgba(0,0,0,0.63);
}
#moyen-age{
    width: 100%;
}

