/* GLOBAL SETTINGS */ 

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html { 
    font-size: 16px;
}

body { 
    background-color: #fff;
}

main { 
    padding-top: 70px ;
}

section {
}

.titre_parc {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.titre_parc h2 {
    position: absolute;
    color: white;
   margin-bottom: 10%;
}


.text_parc {
    display: flex;
    justify-content: center;
    text-align: justify;
}

h2 {
    color: black;
    font-size: 10em;
}

.titre_parc h3 {
    font-size: 2em;
}

.box_parc {
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.arondissement {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 40px;
}

.arondissement p {
    font-style: normal;
    font-size: large;
    color: #52adc7;
    
}

.box_photo {
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}   


.box_titre {
    display: flex;
    font-size: x-large;
    color: black;
    width: 50%;
    flex-direction: column;
}

.box_titre p {
    margin-bottom: 40px;
}

.photo_borely {
    display: flex;
    width: 20%;
}

.photo_parc {
    width: 100%;
    
}

.borely1 {
   width: 100%;
   border-radius: 10px;
}
.borely2 {
    width: 100%;
    border-radius: 10px;
}
.borely3 {
    width: 100%;
    border-radius: 10px;
}

/* RESPONSIVE */ 

@media (min-width: 780px){ 

    .navbar > span {
        display: block !important;
    }

    .navbar {
        min-height: 70px;
        width: 126px !important;
        top: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 24px;
        position: sticky;
        z-index: 1;
        color: #fff;
        list-style: none;
        background: none !important;
    }

   

    .nav-menu{
        position: fixed;
        left: -100%; 
        top: 70px;
        flex-direction: column;
        background-color: #fff;
        width: 340px !important;
        height: 100%;
        transition: 0.3s;  
        z-index: 1;
    }

    header img {
        width: 100% !important;
        display: block !important;
     }
}



/* STICKY NAV */
.navbar {
    min-height: 70px;
    width: 100%;
    top: 0;
    background: #006533;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    position: absolute;
    z-index: 1;
    color: #fff;
}


.nav-menu { 
    display: flex;
    align-items: center;
    gap: 50;

}

.navbar ul li { 
    width: 100%;
}

.navbar ul li:first-child a {
    border-top: 1px solid rgba(0,0,0,0.1);
}


.navbar ul li a { 
    display: block;
    padding: 1.15625rem 2.1875rem;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    text-decoration: none;
    color: #000;
}

.nav-branding{
    font-size: 1rem;
    text-transform: uppercase;
}

.nav-item {
    transition: 0.7s ease;
}

.nav-item:hover { 
    color: #629694;
}

    /* ~ HAMBURGER AND CROSS ~ */ 

.bar { 
    display:block;
    width: 18px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3 ease-in-out;
    transition: all 0.3 ease-in-out;
    background-color: #fff;
}

.hamburger {
    display: block;
    cursor: pointer;
}

.hamburger.active .bar:nth-child(2){
    opacity: 0;
}

.hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
}


    /* ~ NAV MENU OUT OF THE BOX ~ */
.nav-menu{
    position: fixed;
    left: -100%; 
    top: 70px;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    height: 100%;
    transition: 0.3s;  
    z-index: 1;
}


.navbar > span {
    display: none;
  }

nav-item{
    margin: 16px 0;
}

.nav-menu.active { 
    left:0;
    z-index: 1;
}

/* MAIN HEADER */ 

.main_header { 
    max-width: 100%;
}

header img {
    display: none;
 }

/* HERO & FIRST SECTION */ 

.hero { 
    display: flex;
    width: 100%;
}

.shortcut_pages {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background: #fff;
    margin-top: -7.625rem;
    padding: 1.875rem 3.125rem 1.3125rem 3.125rem;
    width: 80%;
    

}

.logo_pages {
    display: flex;
    justify-content: space-around;
}
.logo_pages img { 
    width: 100%;
    
}

.logo_pages_solodiv {
    display: flex;
    width: 10%;
    flex-direction: column;
    
}

footer { 
    display: flex;
    width: 20rem;
    background: linear-gradient(141deg, rgba(32,0,255,1) 0%, rgba(0,201,255,1) 100%);
}
.container_footer {
    display: flex;
    width: 100%;
    padding-top: 30px;
    color: #fff;
    flex-direction: row !important;  
}
.container_foot1 {
    display: flex;
    width: 30% !important;
    border-right: 1px solid; 
    border-color: rgba(255, 255, 255, 0.5);
    height:80%;
    justify-content: center;
    flex-direction: column;
}
.container_foot2 { 
    display: flex;
    width: 30% !important;
    border-right: 1px solid; 
    border-color: rgba(255, 255, 255, 0.5);
    height:80%;
    flex-direction: column;
    align-items: center;
}
.container_foot3 { 
    display: flex;
    width: 30% !important;
    flex-direction: column;
    text-align: center;
}

footer { 
    display: flex;
    width: 100%;
    background: linear-gradient(141deg, rgba(32,0,255,1) 0%, rgba(0,201,255,1) 100%);
}

footer li{ 
    list-style: none;
    padding-bottom: 1rem;
    text-transform: uppercase;
}

footer a { 
    text-decoration: none;
    color: white;
}

footer h2 {
    padding-bottom: 1rem;
    text-align: center;
}

.container_footer {
    display: flex;
    width: 100%;
    padding-top: 30px;
    color: #fff;
    flex-direction: column;
    
}

.container_foot1 {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 20px;
}

.container_foot1 h3 {
    margin-left: 20px;
    margin-top: 25px;
}

/* CONTAINER BACKGROUND */
.background {
    display: flex; 
    width: 70%;
    align-self: center;
}
    /* IMG FOR BG */
.background img {
    display: flex;
    width: 100%;
}

.container_foot2 { 
    display: flex;
    width: 100%;
    height:80%;
    flex-direction: column;
    align-items: center;
}

.container_foot2 a:hover {
    color: rgba(97, 130, 255, 1);
    transition: 300ms ease-in-out;
}

.container_foot3 { 
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: center;
}

.container_foot3 a { 
    display: flex;
    width: 10rem;
    border: 1px solid #fff;
    padding: 10px 10px;
    margin: 1rem 0 2rem 0;
    align-self: center;
    justify-content: center;
}

.container_foot3 a:hover {
    background: #fff;
    color: rgba(3, 55, 255, 1);
    transition: 300ms ease;

}

/* FONT AWESOME */ 

.fa-brands {
    font-size: 2rem;
    padding: 10px 10px;
}

.fa-brands:hover {
    color: rgba(3, 55, 255, 1);
    transition: 300ms ease-in-out;
}

/* CONTAINER LOGO FONT AWESOME MEDIA */
.container_media {
    display: flex;
    justify-content: center;
}
