section{
    
}

html { 

    font-size: 16px;

}

.hero-image{

    display: flex;
    align-items: center;
    background-image: url("../images/hero.jpg");
    background-size: cover;
    height: 450px;
    border-radius: 5px;
    margin-bottom: 60px;


}

.hero-titre{

    margin-left: 50px;
    margin-top: 270px;

}

p{

    font-family: 'Albert Sans', sans-serif;

}


h1{

    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: xx-large;
}

h2{

    font-family: 'Oswald', sans-serif;
    font-size: xx-large;

}

.intro{

    text-align: center;

}

.intro-titre{

    margin-bottom: 70px;
    margin-top: 40px;

}

.intro-texte{

    width: 700px;
    margin: auto;

}

.article{

    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;

}

.article-titre{

    display: flex;
    flex-direction: column;
    margin-left: 80px;

}

.article-contenu{
    

    width: 500px;


}

.article-image{

    align-self:center;
    margin-left: 80px;

}

/* STICKY NAV */
.navbar {
    min-height: 70px;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    background: linear-gradient(141deg, rgba(32,0,255,1) 0%, rgba(0,201,255,1) 100%);
}

.bgColor { 
    background-color: rgba(32,0,255,1) !important;
    color: #fff;
}

.nav-menu { 
    display: flex;
    align-items: center;
    gap: 50;
}

.navbar ul li { 
    width: 100%;
}

.navbar ul li:first-child a {
    border-top: 1px solid rgba(0,0,0,0.1);
}

.navbar ul li a { 
    display: block;
    padding: 1.15625rem 2.1875rem;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    text-decoration: none;
    color: #000;
}

.nav-branding{
    font-size: 1rem;
    text-transform: uppercase;
}

.nav-item {
    transition: 0.7s ease;
}

.nav-item:hover { 
    color: rgba(3, 55, 255, 1);
}

/* ~ HAMBURGER AND CROSS ~ */ 

.bar { 
    display:block;
    width: 22px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3 ease-in-out;
    transition: all 0.3 ease-in-out;
    background-color: #fff;
}

.hamburger {
    display: block;
    cursor: pointer;
}

.hamburger.active .bar:nth-child(2){
    opacity: 0;
}

.hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
}

    /* ~ NAV MENU OUT OF THE BOX ~ */
.nav-menu{
    position: fixed;
    left: -100%; 
    top: 70px;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    height: 100%;
    transition: 0.3s;  
    z-index: 1;
}


.navbar > span {
    display: none;
}

nav-item{
    margin: 16px 0;
}

.nav-menu.active { 
    left:0;
    z-index: 1;
}